.navbar {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 3rem;
  background: white;
  
}
.navbar h1 {
  margin-right: auto;
  font-family: "Dancing script", cursive;
  font-size: 28px;
}
.navbar a{
  text-decoration: none;
  padding: 16px;
}
.mobileNav{
  display: none;
}
.navlinks a:hover{
  border-bottom: #bc4123 2px solid;
}



@media(max-width:768px){
  .mobileNav{
    display: flex;
  }
  .mainNav{
    display: none;
  }
  .navbar{
    padding: 2rem 1rem;
  }
  .navbar h1{
    font-size: 24px;
  }
  .hamburger{
    cursor: pointer;
    position: absolute;
    right: 6%;
    top: 4%;
  }
  .navlinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: #eef0f5;
    top: 80px;
    right: 0;
    width: 100vw;
    border-top: 2px solid #bc4123;
    height: 50vh;
    z-index: 100;
  }
  .navlinks a{
    font-size: 14px;
  }
}
