@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Yeon+Sung&display=swap');

:root{
  --primary: #bc4123;
  --secondary: #2b3452;
}
body{
  margin: 0;
  font-family: "Poppins";
  
}
*{
  color: var(--secondary);
  margin: 0;
}
p{
  margin: 20px 0;
}
.btn{
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: #fff;
  background: var(--primary);
  cursor: pointer;
}

/* showcase */
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 2rem auto;
  padding: 2rem;
}
.content h4{
  color: #bc4123;
  padding-bottom: 2rem;
}
.content h1{
  font-size: 48px;
  padding-bottom: 2rem;
}
.content p{
  padding-bottom: 2rem;
}
.content{
  width: 50%;
}
.content .btn{
  padding: 1rem;
  cursor: pointer;
}
.hero img{
  width: 300px;
}
.hero .small{
  width: 150px;
}


/* our product */
.products{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7fafc;
}
.products h4{
  color: #bc4123;
}
.cards{
  padding: 2rem;
  display: flex;
  gap: 2rem;
}
.product {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.product p{
  margin: 1rem 0;
}
.product img{
  width: 300px;
}
.delete {
  border: none;
  padding: 3px 6px;
  background-color: white;
  cursor: pointer;
  border: 1px solid rgb(245, 191, 191);
  color: rgb(242, 100, 100)
}
.edit {
  border: none;
  padding: 3px 6px;
  background-color: white;
  cursor: pointer;
  border: 1px solid rgb(204, 204, 243);
  color: rgb(139, 139, 234);
}

/* testimonial */
.testimonial{
  background: #f7fafc;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 3rem;
}
.testimonial h4{
  margin-top: 2rem;
  color: #bc4123;
}
.stories{
  display: flex;
  align-items: center;
  padding: 3rem;
}
.story{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  padding: 1rem;
  margin: 1rem;
  width: 350px;
  position: relative;
}
.story p{
  margin: 2rem 0;
}
.quote{
  background: #bc4123;
  border-radius: 50%;
  width: 50px;
  position: absolute;
  top: -1rem;
  left: 2;
  padding: 2px;
  
}
.avatar{
  display: flex;
  gap: 2rem;
  align-items: center;
}
.avatar img{
  width: 80px;
}

/* footer */
.main_footer{
  background: #25262a;
}
.main_footer p,
.main_footer h1,
.main_footer h3{
  color: #fff;
}
.footer_top{
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer_right{
  display: flex;
  gap: 3rem;
}
.footer_bottom{
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
}
.socials{
  display: flex;
  gap: 2rem;
}
.socials svg{
  fill: #fff;
  cursor: pointer;
}



@media(max-width:768px){
  .hero{
    flex-direction: column;
    padding: 0;
  }
  .content{
    width: 100%;
    text-align: center;
  }
  .hero img{
    display: none;
  }

  .products h4{
    margin-top: 2rem;
  }
  .products h1{
    text-align: center;
    font-size: 24px;
  }
  .products{
    margin: 3rem 0 ;
  }
  .cards{
    flex-direction: column;
    padding: 0;
    margin-bottom: 3rem;
  }


  .stories{
    flex-direction: column;
    padding: 0;
  }
  .story{
    padding: 2rem 0;
    margin: 2rem 0;
    width: 100%;
  }
  .quote{
    margin: 12px;
  }
  .story p{
    font-size: 14px;
    padding: 1rem;
  }


  .footer_top{
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: auto;
  }
  .footer_top h1{
    margin-bottom: 2rem;
  }
  .footer_right{
    justify-content: space-between;
  }
  .footer_bottom{
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: auto;
  }
  .footer_right p{
    font-size: 12px;
  }
  .footer_bottom p{
    font-size: 12px;
    text-align: center;
  }
  .footer_bottom .socials{
    padding-bottom: 2rem;
  }


  .testimonial{
    padding: 0;
  }
  .testimonial h4{
    margin-bottom: 3rem;
    text-align: center;
  }
  .testimonial h1{
    margin-top: 2rem;
  }
}

/* about page */
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}







.auth{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  height: 100vh; 
  background-color:rgb(198, 192, 192);
}

.auth h1{
  font-size: 20px;
  color: teal;
  margin-bottom: 20px; 
}

.auth form{
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: aliceblue;
  width: 200px;
  gap: 30px;
  border-radius: 3px 3px 3px 3px;
}

.auth input {
padding: 10px;
border: none;
border-bottom: 1px solid gray;
}

.auth button{
  padding: 10px;
  border: none;
  background-color: teal;
  cursor: pointer;
}

.auth p {
 font-style: 12px;
 color: red;
 text-align: center;
}